{% extends 'base.html.twig' %}

{% block title %}Корзина{% endblock %}

{% block body %}
    <h1>Корзина</h1>
    <table class="table">
        <tr>
            <th></th>
            <th>Товар</th>
            <th>Цена</th>
            <th>Кол-во</th>
            <th>Стоимость</th>
        </tr>

        {% for item in order.items %}
        <tr>
            <th>{{ loop.index }}</th>
            <th>{{ item.name }}</th>
            <th>{{ item.price / 100 }}</th>
            <th>{{ item.count }}</th>
            <th>{{ item.amount / 100 }}</th>
        </tr>
        {% endfor %}

        <tr>
            <th></th>
            <th colspan="3">Всего</th>
            <th>{{ order.amount / 100 }} грн.</th>
        </tr>

    </table>
{% endblock %}
